<div class="jason-wilkerson-page">
    <h2>Jason Wilkerson's Page</h2>
    <img src="path_to_your_photo.jpg" alt="Jason Wilkerson" class="profile-photo">
    
    <div class="social-links">
        <a href="https://www.instagram.com/yourusername" target="_blank">
            <img src="assets/Imgs/insta.png" alt="Instagram">
        </a>
        <a href="https://twitter.com/yourusername" target="_blank">
            <img src="assets/Imgs/twit.png" alt="Twitter">
        </a>
        <a href="https://github.com/yourusername" target="_blank">
            <img src="assets/Imgs/github.png" alt="GitHub">
        </a>
        <a href="https://www.linkedin.com/in/yourusername" target="_blank">
            <img src="assets/Imgs/Lin.png" alt="LinkedIn">
        </a>
        <a href="mailto:your-email@gmail.com" target="_blank">
            <img src="assets/Imgs/email.png" alt="Gmail">
        </a>
        <a href="https://www.facebook.com/yourusername" target="_blank">
            <img src="assets/Imgs/fbook.png" alt="Facebook">
        </a>
        <a href="https://www.snapchat.com/add/yourusername" target="_blank">
            <img src="assets/Imgs/snap.png" alt="Snapchat">
        </a>
        <a href="tel:+1234567890">
            <img src="assets\Imgs\number.png" alt="Phone Number">
        </a>
        
        <!-- Add more icons as needed -->
    </div>
</div>